# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.IgrejaPortodaCruz.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore .NET build files
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.env

# Ignore Visual Studio Code files
.vscode/
*.db-wal
*.db-shm
