<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Igreja Porto da Cruz</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="historia">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> História
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="eventos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Eventos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="galeria">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Galeria
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contacto">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Fale Connosco
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="doar">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Doar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="doar">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Marcar Missa
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calendario">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Calendário
            </NavLink>
        </div>
    </nav>
    <div class="social-icons">
        <a href="https://www.facebook.com/paroquiaportodacruz" target="_blank" rel="noopener">
            <img src="assets/icons/facebook.png" alt="Facebook da Paróquia" class="icon-social">
        </a>
        <a href="https://www.instagram.com/paroquiaportodacruz" target="_blank" rel="noopener">
            <img src="assets/icons/instagram.png" alt="Instagram da Paróquia" class="icon-social">
        </a>
    </div>
</div>

